{
  "presets": ["@babel/preset-env", "next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "pure": true
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "@types": "./typings/index.d.ts",
          "@": "./app"
        }
      }
    ]
  ]
}
