:root {
  --primary: rgb(253, 0, 55);
  --text: #FFF;
  --bg: #04070e;

  --grid: 9.1px;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  color: var(--text);
  font: 13px/1.25 var(--font);
  letter-spacing: 0px;
  background: fixed url(https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalblack.png);
}

body {
  cursor: crosshair;
  min-height: 100vh;
  background: rgba(4, 7, 14, .9);
}

* {
  box-sizing: border-box;
  transition: .2s ease-in-out;

  &:focus {
    outline: none;
  }
}

img, figure, embed, iframe, video, audio {
  max-width: 100%;
  height: auto;
  margin: 0;
}

a {
  color: var(--primary);
  text-decoration: none;
}

em {
  opacity: 0.5;
  font-style: normal;
}
