:root {
  --text: #FFF;
  --primary: #fd0037;
  --faded: #404763;
  --bg: #04070e;

  --grid: 9.1px;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  color: var(--text);
  font: 13px/1.42857142857143 var(--font);
  font-smoothing: antialiased;
  letter-spacing: -.005em;
  text-decoration-skip: ink;
  background: fixed url(https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalblack.png);
}

body {
  cursor: crosshair;
  min-height: 100vh;
  background: rgba(4, 7, 14, .9);
}

* {
  box-sizing: border-box;
  transition: .2s ease-in-out;

  &:focus {
    outline: none;
  }
}

img, figure, embed, iframe, video, audio {
  max-width: 100%;
  height: auto;
  margin: 0;
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

small, em {
  opacity: 1;
  display: block;
  max-width: 100%;
  overflow: hidden;
  color: var(--faded);
  font-size: 11px;
  font-style: normal;
  text-overflow: ellipsis;
}

code {
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  border: 1px solid rgba(255,255,255,.1);
}
