table {
  width: calc(100% + calc(var(--grid) * 6));
  margin-left: calc(var(--grid) * -3);
}

tr > *:first-child,
tr > *:last-child {
  padding: 0 25px;
}

td a {
  display: block;
  color: var(--text);

  em {
    display: block;
  }
}

tr:hover * {
  color: var(--primary);
  transition: none;
}
